<template>
       <div class="hidden">
      <vs-sidebar
        absolute
        :reduce="$store.state.store.isReduced"
        v-model="active"
        open
        style="margin-top: 80px;box-shadow:0 4px 25px 0 rgba(0,0,0,.1)"
        >
        <div class="menu-buttons">
            <span>MENU</span>
            <button style="width:100%;text-align:center;display:block" v-if="$store.state.store.isReduced" @click="reduceSidebar"> <i class="fas fa-chevron-right"></i> </button>
            <button v-else @click="reduceSidebar"> <i class="fas fa-chevron-left"></i> </button>
        </div>
        <template #logo>
          <!-- ...img logo -->
        </template>
          <template #header>
            <vs-sidebar-item id="Instagram" style="padding: 21px;background: #f5f5f5;">
            <template #icon>
                <img style="width:50px" src="https://preview.keenthemes.com/metronic-v4/theme/assets/pages/media/profile/profile_user.jpg" alt="">
            </template>
            <span style="padding-left:10px">
                zeyad moamen
            </span>

          </vs-sidebar-item>
          </template>


  <vs-sidebar-group>
          <template #header>
            <vs-sidebar-item style="outline:none">
              <template #icon>
                <img style="width: 25px;" src="https://i.ibb.co/Tgh0Gdq/Bot-Icon-Untitled-4-0-5x.png" alt="">
              </template>
              Bot
            </vs-sidebar-item>
          </template>

          <vs-sidebar-item style="outline:none" id="Bot1">

            New Bot
          </vs-sidebar-item>
          <vs-sidebar-item style="outline:none" id="Bot2">

            Xyz Bot
          </vs-sidebar-item>
          <vs-sidebar-item style="outline:none" id="Bot3">

            Test Bot
          </vs-sidebar-item>
        </vs-sidebar-group>



        <vs-sidebar-item id="Dashboards" @click.native="$router.push('/dashboard')">
          <template #icon>
            <img id="Dashboards-img" style="width:50%" src="../../assets/imgs/Dashboard_Icon_Dashboard@0.5x.png" alt="">
          </template>
          Dashboards
        </vs-sidebar-item>
        <vs-sidebar-item id="PhoneBook" class="last" @click.native="$router.push('/phonebook')">
          <template #icon>
            <img id="PhoneBook-img" style="width:50%" src="../../assets/imgs/PhoneBook_Icon_Untitled-4@0.5x.png" alt="">
          </template>
          PhoneBook
        </vs-sidebar-item>



        <template #footer>
          <vs-row justify="space-between">
            <vs-avatar>
              <img src="/avatars/avatar-5.png" alt="">
            </vs-avatar>

            <vs-avatar badge-color="danger" badge-position="top-right">
              <i class='bx bx-bell' ></i>

              <template #badge>
                28
              </template>
            </vs-avatar>
          </vs-row>
        </template>
      </vs-sidebar>
        <i class="fas fa-home"></i>
    </div>

</template>

<script>
import Logo from '~/components/Logo.vue'
import VuesaxLogo from '~/components/VuesaxLogo.vue'

export default {
  components: {
    Logo,
    VuesaxLogo
  },
  data(){
    return{
      reduced: false,
      active: 'home',
    }
  },
  computed:{
      isReducedOrNot: function(){
        return this.$store.getters['store/isReducedOrNot']
      }
  },
  watch:{
      active: function(val){
          console.log(val)
          if(val == 'Dashboards'){
                document.querySelector('#PhoneBook-img').setAttribute('src','https://i.ibb.co/7R8QXwY/Phone-Book-Icon-Untitled-4-0-5x.png')

              document.querySelector('#Dashboards-img').setAttribute('src','https://i.ibb.co/SRbcQvS/dashbordactive.png')
              console.log('dash')
          }else if (val == 'PhoneBook'){
                document.querySelector('#Dashboards-img').setAttribute('src','https://i.ibb.co/sHWpNt7/Dashboard-Icon-Dashboard-0-5x.png')

                document.querySelector('#PhoneBook-img').setAttribute('src','https://i.ibb.co/nD6ytJ4/Phone-Book-Icon-Highlighted-Untitled-4-0-5x.png')

          }
      },
      isReducedOrNot:function(val){
          if(val == true){
              document.querySelector(".vs-sidebar__header").style.padding = '0'
              document.querySelector(".vs-sidebar__group__content").style.width = '100%'
          }
      }
  },
  methods:{
      reduceSidebar(){
          return this.$store.dispatch('store/updateReduce')
      },
    //   reducedSidebar(){
    //       this.reduced =! this.reduced
    //       if(this.reduced == true){
    //           document.querySelector('.vs-sidebar-content').style.width = "50px"
    //       }else{
    //           document.querySelector('.vs-sidebar-content').style.width = "calc(100% - 50px)"

    //       }
    //   }
  }
}
</script>

<style lang="scss">
.vs-sidebar-content.absolute{
    position: fixed !important;
    min-width: 64px !important;
        max-width: 300px !important;
    width: 300px !important;
}
.vs-sidebar-content.absolute.reduce{
    position: fixed !important;
    min-width: 64px !important;
    width:50px !important
}
.vs-sidebar__group__content:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: #a6ffa6;
    width: 1px !important;
    height: 100%;

}
.vs-sidebar__item:after{
    content:none !important;
}
.vs-sidebar__item.last{
           border-bottom: 1px solid #cacaca;
    padding-bottom: 10px;
   
}
.vs-sidebar__item{
   outline: none !important;
   
}
.vs-sidebar__item.active {
    opacity: 1;
   outline: none !important;
    color: #a0cf60 !important;
}

.vs-sidebar__group__content{
  height: 140px;
    min-height: 0px;
    width: 72% !important;
    margin: auto !important;
}

.menu-buttons{
        width: 100%;
    padding: 5px;
    background: #ffffff;
    button{

        background: none;
    border: none;
    outline: none !important;
    font-size: 23px;
    color: #DDD;
    }
    span{
          display: inline-block;
    width: 86%;
    font-family: "RegularFont";
    color: #bfbfbf;

    }
}



@media (max-width: 575.98px) { 
    
.navbar-nav .nav-inner .user-settings .language {

    width: 62% !important;
}

.navbar-nav .nav-inner .user-settings > div .user {
    width: 34% !important;
}
.menu-buttons{
  button{
    display: none !important;
  }
}

}
 

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
</style>
