<template>
  <div class="navbar-nav">
     <div class="nav-inner">
           <div class="row">
               <div class="col-md-6">
                    <div class="logo">
            <img src="../../assets/imgs/logo.png" alt="">
        </div>
               </div>

               <div class="col-md-6">
                     <div class="user-settings">
           <div>
               <div class="language">
                   <img src="../../assets/imgs/Arabic_Icon_Dashboard.png" alt="">
               </div>
                <div class="user">
                <div class="user-img">
                    <img src="https://preview.keenthemes.com/metronic-v4/theme/assets/pages/media/profile/profile_user.jpg" alt="">
                </div>
                <div class="user-info">
                    <h6>zeyad moamen</h6>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
           </div>
        </div>
               </div>
           </div>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.navbar-nav{
    
    position: fixed;
    width: 100%;
    z-index: 9999999;

    padding: 0;
    overflow: hidden;
    background: #616264;
    .nav-inner{
        position: relative;
    width: 100%;
        .logo{
            height: 135px;
    width: 153px;
    position: absolute;
    top: -31px;
    left: 0;
            img{
                width:100%;
                height:100%
            }
        }
        .user-settings{
                color: #fff;
    text-align: right;

    .language{
        float: left;
    text-align: right;
    width: 78%;

    img{
        width: 30px;
    margin-top: 20px;
    }
    }

   >div{
       text-align: right;
        .user{
        border-left: 3px solid #000;
    width: 20%;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding-left: 5px;
    padding: 12px;
        .user-img{
               width: 38%;
    float: left;
    margin-right: 7px;
            img{
                width:100%;height: 100%;
            }
        }
        .user-info{
           width: 55%;
    float: left;

    h6{
            width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }
        }
    }
   }
        }
    }
}
</style>