<template>
  <div>
    <Navbar />

    <div class="app-content">
            <Sidebar />

      <div :style="{'padding-left':$store.state.store.isReduced ? '60px' : '320px'}" class="fake-body">
        <Nuxt />
      </div>
    </div>

  </div>
</template>

<script>
import Sidebar from '@/components/sidebar/sidebar'
import Navbar from '@/components/navbar/navbar'
export default {
  components:{
    Sidebar,
    Navbar
  },
  computed:{
    isReducedOrNot(){
      return this.$store.getters['store/isReducedOrNot']
    }
  }
}
</script>

<style>

@font-face {
  font-family: 'BlackFont';
  src: url('../assets/Font-source-sans-pro/SourceSansPro-Black.otf');
}
@font-face {
  font-family: 'RegularFont';
  src: url('../assets/Font-source-sans-pro/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: 'SemiboldFont';
  src: url('../assets/Font-source-sans-pro/SourceSansPro-Semibold.otf');
}
.app-content{
  padding-top: 50px;
}
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
