<template>
  <div class="bot-page">
        <div class="container-fluid">
              <div class="bot">
              <div class="head">
                  <h5>Bot Name</h5>
                 <div>
                      <img src="../assets/imgs/editicon.png" alt="">
                 </div>
              </div>
          </div>

      <div class="bot-operations">
          <div class="row">
              <div class="col-md-3">
                  <div class="bot-buttons">
                      <h6>Default Folder</h6>

                      <div class="bot-flows">
                          <button>Welcome Message</button>
                          <button>Default</button>
                      </div> 
                        <button class="addFlow">Add Flow</button>
                  </div>


                  <div class="bot-buttons">
                      <div class="bot-button-head">
                          <h6>Default Folder</h6>
                        <img @click="deletePopup = true" src="../assets/imgs/delete-gray.png" alt="">
                      </div>
                      <div class="bot-flows">
                          <div class="form-group">
                              <input type="text" placeholder="Enter Folder Name" class="form-control">
                          </div>
                      </div> 
                        <button class="addFlow">Add Flow</button>
                     
                  </div>


                  <div class="bot-buttons">
                       <div class="bot-button-head">
                          <h6>Default Folder</h6>
                        <img src="../assets/imgs/delete-gray.png" alt="">
                      </div>

                      <div class="bot-flows">
                         <div class="form-group">
                              <input type="text" placeholder="Enter Folder Name" class="form-control">
                          </div>
                      </div> 
                        <button class="addFlow">Add Flow</button>
                  </div>


                                        <button class="addFolder">+ Add Folder</button>

              </div>

              <div class="col-md-9"  style="border-left: 1px solid #CCC;">
                  <div class="row">
                    <div class="col-md-3">
                         <div class="operations">
                             <div class="operation" @click="editpopup = true">
                                 <div> <img src="../assets/imgs/WFD_Dialog.svg" alt=""> 
                               
                                 </div>
                                   <span>Dialog</span>
                             </div>

                             <div class="operation">
                                 <div> <img src="../assets/imgs/WFD_Image.svg" alt=""> 
                                
                                 </div>
                                  <span>Image</span>
                             </div>

                             <div class="operation">
                                 <div> <img src="../assets/imgs/WFD_Attachment.svg" alt=""> 
                                 
                                 </div>
                                 <span>Attachment</span>
                             </div>

                             <div class="operation">
                                 <div> <img src="../assets/imgs/WFD_Location.svg" alt=""> 
                                 
                                 </div>
                                 <span>Location</span>
                             </div>

                             <div class="operation">
                                 <div> <img src="../assets/imgs/WFD_Video.svg" alt=""> 
                                
                                 </div>
                                  <span>Video</span>
                             </div>

                             <div class="operation">
                                 <div> <img src="../assets/imgs/WFD_Audio.svg" alt=""> 
                                 
                                 </div>
                                 <span>Audio</span>
                             </div>

                             <div class="operation">
                                 <div> <img src="../assets/imgs/WFD_Settings.svg" alt=""> 
                                 
                                 </div>
                                 <span>Settings</span>
                             </div>

                              <div class="operation">
                                 <div> <img src="../assets/imgs/WFD_Variables.svg" alt=""> 
                                 
                                 </div>
                                 <span>Variables</span>
                             </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="flows-data">
                            <div class="flow-head">
                                <h6>Flow Name</h6>
                                <img src="../assets/imgs/delete-gray.png" alt="">
                            </div>
                            <div class="flow-body">
                                <div class="flow-item">
                                    <div class="flow-operations">
                                        <img src="../assets/imgs/WFD_Drag_Highlighted_Icon_WFD_Drag@0.5x.png" alt="">
                                        <img  src="../assets/imgs/WFD_Edit_Icon_WFD_Edit@0.5x.png" alt="">
                                        <img  src="../assets/imgs/delete-gray.png" alt="">
                                    </div>
                                    <h6> 1-Welcome Message </h6>
                                    <p> <img style="width:30px;" src="../assets/imgs/dialog.png" alt=""> Hi, How can i help you today ? </p>
                                </div>


                                   <div class="flow-item">
                                    <div class="flow-operations">
                                        <img src="../assets/imgs/WFD_Drag_Highlighted_Icon_WFD_Drag@0.5x.png" alt="">
                                        <img  src="../assets/imgs/WFD_Edit_Icon_WFD_Edit@0.5x.png" alt="">
                                        <img  src="../assets/imgs/delete-gray.png" alt="">
                                    </div>
                                    <h6> 1-Welcome Message </h6>
                                    <p> <img style="width:30px;" src="../assets/imgs/WFD_Location.svg" alt=""> Hi, How can i help you today ? </p>
                                </div>



                                   <div class="flow-item">
                                    <div class="flow-operations">
                                        <img src="../assets/imgs/WFD_Drag_Highlighted_Icon_WFD_Drag@0.5x.png" alt="">
                                        <img  src="../assets/imgs/WFD_Edit_Icon_WFD_Edit@0.5x.png" alt="">
                                        <img  src="../assets/imgs/delete-gray.png" alt="">
                                    </div>
                                    <h6> 1-Welcome Message </h6>
                                    <p> <img style="width:30px;" src="../assets/imgs/WFD_Image.svg" alt=""> Hi, How can i help you today ? </p>
                                    <div>
                                        <img src="../assets/imgs/gif@2x.png" alt="">
                                        <img src="../assets/imgs/AVIavi.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>


      


              </div>

          </div>
      </div>
        </div>




         <vs-dialog width="550px" not-center v-model="editpopup">
        <template #header>
          <h4 class="not-margin">
            Edit <b>Dialog</b>
          </h4>
        </template>


        <div class="con-content dialog-popup">
          <div>
              <div class="form-group">
                  <label for="">Dialog Name</label>
                  <input type="text" name="" id="dialogName" class="form-control">
              </div>
              <div class="form-group">
                  <label for="">Dialog Message</label>
                  <textarea style="resize:none" type="text" name="" id="dialogMessage" class="form-control"></textarea>
              </div>

               <div class="form-group variableValue">
                   <h6> Add Variable </h6>
                  <input type="text" placeholder="variable" class="form-control">
                  <input type="text" placeholder="value" class="form-control">
                  <button class="addFolder">+ Add Folder</button>
              </div>
          </div>
        </div>

        <template #footer>
          <div class="con-footer">
            <vs-button @click="active=false" transparent>
              Ok
            </vs-button>
          </div>
        </template>
      </vs-dialog>


        <!-- Confirm To Delete Folder -->
        <vs-dialog width="550px" not-center v-model="deletePopup">
        <template #header>
          <h4 class="not-margin">
              <img style="width:19px" src="../assets/imgs/WFD_Delete_FolderWFD_Drag@0.5x.png" alt="">
            Delete <b>Folder</b>
          </h4>
        </template>


        <div class="con-content">
          <p>
              Are you sure you want to delete Xyz Folder ?
          </p>
        </div>

        <template #footer>
          <div class="con-footer">
            <vs-button style="display:inline-block" color="danger" @click="deletePopup=false" transparent>
              Delete
            </vs-button>
            <vs-button style="display:inline-block" @click="deletePopup=false" dark transparent>
              Cancel
            </vs-button>
          </div>
        </template>
      </vs-dialog>

      
  </div>
</template>

<script>
export default {
    data(){
        return{
            editpopup: false,
            deletePopup: false,
        }
    }
}
</script>

<style lang="scss">
 .addFolder{
                    background: none;
    border: none;
    outline: none !important;
    font-family: "RegularFont";
    padding: 23px 19px;
        font-size: 18px;
                }

.bot-page{
    .bot{
        .head{
               padding: 31px;
    background: #f7f7f7;
            h5{
                margin-bottom: 0;
                display: inline-block;
                font-family: "RegularFont";
                color: #797979;
                font-size: 29px;
            }
            div{
                img{
                    display: inline-block;
                    width:20px;
                }
            }
        }
       
    }
     .bot-operations{
            .bot-buttons{
                    border-bottom: 1px solid #CCC;
    padding: 20px 4px 20px 20px;
                .bot-flows{
                    padding: 15px 10px;
                   button{
                       background: none;
                       border: 1px solid #CCC;
                       padding:5px 10px;
                   }
                }
                .addFlow{
                        background: #96ca50;
    color: #FFF;
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
                        margin: 5px 10px;

                }

                .bot-button-head{
                    h6{
                        display: inline-block;
    width: 90%;
                    }
                    img{
                        width: 20px;
                        cursor: pointer;
                    }
                }
               
            }
           
        }
         .operations{
             box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
             border: 1px solid #CCC;
    margin: 10px;
                border-radius: 15px;
                overflow: hidden;
                .operation{
                        width: 50%;
    float: left;
    padding: 10px 7px;
    text-align: center;

    div{
       width: 94px;
    padding: 19px 22px;
    border: 1px solid #d8d8d8;
    border-radius: 15px;
        img{
            width: 100%;
            height:100%
        }
    }
    span{
        display: inline-block;
    margin-top: 8px;
    color: #8b8f92;
    }
    &:hover{
        cursor: pointer;
    }
                }
            }

            .flows-data{
                 padding: 10px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    margin-top: 11px;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    background: #fbfbfb;
                .flow-head{
                    padding: 10px;
                    background: #FFF;
                    h6{
                        display: inline-block;
                        width: 88%;
                        margin-bottom: 10px;
                    }
                    img{
                        width: 17px;
                    }
                }
                .flow-body{
                    .flow-item{
                            padding: 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    margin-top: 10px;
    background: #FFF;
                        padding: 15px;
                        p{
                                color: #ababab;
    font-family: "RegularFont";
                        }
                        img{
                            width: 25px;
    margin-right: 1px;
                        }
                        .flow-operations{
                            text-align: right;
                            img{
                                width:17px
                            }
                        }
                    }
                }
            }

            .bot-other-operations{
                position: relative;
                &::after{
                    position: absolute;
                    top:0;
                    left:0;
                    content: '';
                    width:100%;
                    height:100%;
                    background: rgba(0,0,0,.4);
                }
            }
}
.dialog-popup{
    .variableValue{
        overflow: hidden;
        margin-top: 23px;
    border-top: 1px solid #d4d4d4;
    padding-top: 22px;
        input{
            width:70%;
            float: left;
            border-radius: 0 5px 5px 0;
            &:first-of-type{
                width: 30%;
                 float: left;
                  border-radius: 5px 0 0 5px;
            }
        }
    }
}
</style>