<template>
  <div class="dashboard">
    <div class="container-fluid">
      <div class="dashboard-head">
        <h4>Dashboard</h4>
        <button> Export </button>
      </div>

      <div class="dashboard-alarm alert alert-warning">
        <img src="../assets/imgs/Warning@0.5x.png" alt="">
        Alarm
      </div>

      <div class="dashboard-stats">
        <div class="row">
          <div class="col-md-4">
            <div class="state">
              <span> Today Transactions </span>
             <div class="numbers">
                <h6> 12,920  </h6>
                <img src="../assets/imgs/Transaction_Arrow@0.5x.png" alt="">
             </div>
              <span> 31.5% 
                <img src="../assets/imgs/Arrow-Up@0.5x.png" alt="">
              </span>
            </div>
          </div>


           <div class="col-md-4">
            <div class="state">
              <span> Today Transactions </span>
             <div class="numbers">
                <h6> 12,920  </h6>
                <img src="../assets/imgs/Transaction_Arrow@0.5x.png" alt="">
             </div>
              <span> 31.5% 
                <img src="../assets/imgs/Arrow-Up@0.5x.png" alt="">
              </span>
            </div>
          </div>



           <div class="col-md-4">
            <div class="state">
              <span> Today Transactions </span>
             <div class="numbers">
                <h6> 12,920  </h6>
                <img src="../assets/imgs/Transaction_Arrow@0.5x.png" alt="">
             </div>
              <span> 31.5% 
                <img src="../assets/imgs/Arrow-Up@0.5x.png" alt="">
              </span>
            </div>
          </div>
        </div>
      </div>


      <div class="stats-charts">
        <div class="row">
          <div class="col-md-8">
            <div>this is chart</div>
          </div>

          <div class="col-md-4">
            <div class="channels-table">
              <div class="head">
                <h6>Transaction/Channel</h6>
              </div>

              <div class="body">
                <div class="body-item">
                  <div class="body-item-img" style="background:#f89500">
                    <img src="../assets/imgs/Webchat.svg" alt="">
                  </div>
                  <div class="body-item-content">
                    <h6>hello</h6>
                    <span>200</span>
                  </div>
                </div>
              </div>

              <div class="body">
                <div class="body-item">
                  <div class="body-item-img" style="background:#00ABF0">
                    <img src="../assets/imgs/Twitter.svg" alt="">
                  </div>
                  <div class="body-item-content">
                    <h6>hello</h6>
                    <span>20000</span>
                  </div>
                </div>
              </div>



              <div class="body">
                <div class="body-item">
                  <div class="body-item-img" style="background:#4867AA">
                    <img src="../assets/imgs/Facebook.svg" alt="">
                  </div>
                  <div class="body-item-content">
                    <h6>hello</h6>
                    <span>200</span>
                  </div>
                </div>
              </div>



               <div class="body">
                <div class="body-item">
                  <div class="body-item-img" style="background:#3dcc3d">
                    <img src="../assets/imgs/whatsapp.svg" alt="">
                  </div>
                  <div class="body-item-content">
                    <h6>hello</h6>
                    <span>200</span>
                  </div>
                </div>
              </div>






              


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.dashboard{
  .dashboard-head{
       margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
    overflow: hidden;
    h4{
         font-size: 40px;
    font-family: "RegularFont";
    color: #5a5a5a;
    /* display: inline-block; */
    width: 90%;
    margin-bottom: 0;
    float: left;
    }
    button{
      background: #78c113;
    color: #FFF;
    border: none;
    outline: none;
    padding: 7px 33px;
    border-radius: 5px;
    float: left;
    }
  }

  .dashboard-alarm{
    >img{
          width: 26px;
    margin-right: 21px;
    }
    background-color: #FFFCF3 !important;
    border-color: #FFF4D5 !important;
  }

  .dashboard-stats{
    .state{
      border-radius: 7px;
    margin-bottom: 20px;
    padding: 28px 15px;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 25px 0px;

    span{
      &:first-of-type{
        font-family: "RegularFont";
        color: #cecece;
        font-size: 21px;
      }
      &:last-of-type{
            color: #78c113;
    font-size: 15px;
    font-family: "RegularFont";
    padding-left: 4px;
    img{
      width: 12px;
    }
      }
    }

    .numbers{
      overflow: hidden;
      h6{
              font-size: 43px;
    font-family: "RegularFont";
    width: 81%;
    font-weight: 100;
    float: left;
    margin-bottom: 0;
    padding-top: 5px;
      }
      img{
        float: left;
    width: 44px;
      }
    }
    }
  }
  .stats-charts{
    .channels-table{
       margin-bottom: 20px;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 25px 0px;
    .head{
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 10px;
      color:#9a9a9a
    }

    

    .body{
      &:nth-child(even){
        background: #f8f8f8;
      }
      &:not(:last-of-type){
    }
      .body-item{
           overflow: hidden;
    padding: 18px;
    
            .body-item-img{
             width: 37px;
    float: left;
    margin-right: 9px;
            }
            .body-item-content{
                  width: calc(100% - 60px);
    float: left;
    h6{
      width: 80%;
    display: inline-block;
    margin-top: 11px;
    }
            }
      }
    }
    }
  }
}
</style>