<template>
  <div class="edit-info">
      <div class="container-fluid">
          <div class="editing">
             <div>
                  <div class="row">
                  <div class="col-md-6">
                      <div>

                          <h3>Account Info</h3>
                          <br />
                          <div class="form-group">
                              <label> Name </label>
                              <input type="text" class="form-control">
                          </div>

                          <div class="form-group">
                              <label> Email </label>

                              <input type="email" class="form-control">
                          </div>

                          <div class="form-group">
                              <label> Phone Number </label>

                              <input type="text" class="form-control">
                          </div>

                          <div class="form-group">
                              <label> New Password </label>

                              <input type="password" class="form-control">
                          </div>

                          <div class="form-group">
                              <label> Confirm Password </label>

                              <input type="password" class="form-control">
                          </div>

                          <br />

                          <h4>Company Info</h4>

                           <br />

                          <div class="form-group">
                              <label> Name </label>

                              <input type="text" class="form-control">
                          </div>

                           <div class="form-group">
                              <label> Email </label>

                              <input type="email" class="form-control">
                          </div>

                           <div class="form-group">
                              <label> Phone Number </label>

                              <input type="text" class="form-control">
                          </div>

                           <div class="form-group">
                              <label> Website </label>

                              <input type="text" class="form-control">
                          </div>
                      </div>
                  </div>


                  <div class="col-md-6">
                     <div class="edit-settings">
                          <div class="info-image">
                              <div>
                                 
                              </div>
                               <img src="../assets/imgs/Pen_Edit@0.5x.png" alt="">
                            
                          <img src="https://preview.keenthemes.com/metronic-v4/theme/assets/pages/media/profile/profile_user.jpg" alt="">
                        </div>

                        <div class="info-content">
                            <h6>Zeyad Moamen</h6>
                            <span>XYZ Company</span>
                        </div>
                     </div>
                  </div>
              </div>
             </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.editing{
        padding-top: 32px;
        margin:auto;
        >div{
            border:1px solid #CCC;
            margin: 50px 15px;
            padding:15px;
        box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 25px 0px;

            .form-group{
                    margin-bottom: 28px;
                position: relative;
                input{
                        border-color: #c1c1c1;
                }
                label{
                  position: absolute;
    top: -13px;
    left: 14px;
    background: #FFF;
    padding: 0 7px;
    color: #c1c1c1;
                }
            }
        }

        .edit-settings{
    background: #f1f1f1;
    padding: 18px 17px;
    margin: auto;
    max-width: 312px;
    margin-top: 10px;
    text-align: center;
    .info-image{
        display: inline-block;
    width: 120px;
    margin-left: 10px;
position: relative;
    div{
            position: absolute;
    top: 0;
    right: 0;
    /* background: #333; */
    border-width: 29px 29px 29px 30px;
    border-color: gray gray transparent transparent;
    border-style: solid;
    }
      img{&:last-of-type{
          
                        width: 100%;
    height: 100%;
    border: 5px solid gray;
      }
      &:first-of-type{
              position: absolute;
    width: 20px;
    right: 4px;
    top: 7px;
      }
                }
    }
              
            
           .info-content{
                   display: inline-block;
    width: 120px;
    margin-left: 10px;
           }
        }
}

</style>