<template>
  <div class="homePage">
    <div class="container-fluid">
      <div class="bot-builder">
        <div class="head">
          <h3>Bot Builder</h3>
        </div>

        <div class="newbot">
          <div class="row">
            <div class="col-md-3">
              <div class="newbot-section" @click="$router.push('/newbot')">
                <i class="fas fa-plus"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="mybots">
          <div class="head">
            <h6>My Bots</h6>
          </div>

           <div class="row">
             <div class="col-md-3">
               <div class="mybots-content">
                 <i class="fas fa-ellipsis-h"></i>
                 <div>xyz Bot</div></div>
             </div>

              <div class="col-md-3">
               <div class="mybots-content">
                 <i class="fas fa-ellipsis-h"></i>
                 <div>test Bot</div></div>
             </div>
           </div>
          </div>

      
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">

.homePage{
  .bot-builder{
    .head{
      h3{
        font-family: "RegularFont";
      color: #848484;
      font-size: 43px;
      margin-top: 22px;
      margin-bottom: 23px;
      border-bottom: 1px solid #d6d6d6;
      padding-bottom: 30px;
      }
    }
  }
  .newbot-section{
    cursor: pointer;
    height: 250px;
    background: #8DC540;
    position: relative;
    border-radius: 4px;
    i{
          color: #FFF;
    font-size: 24px;
    border: 3px solid #FFF;
    padding: 11px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
  }

  .mybots-content{
    background-image: url('../assets/imgs/My_Bots.svg');
    background-size: cover;
    cursor: pointer;
    height: 250px;
    position: relative;
    border-radius: 4px;
    position: relative;
    margin-bottom: 40px;
    background-position: bottom;
    border: 1px solid #bbb;
  div{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  >i{
    position: absolute;
    right: 10px;
    color: #e2e4e9;
    font-size: 20px;
    top: 5px;
  }
  }

  .mybots{
    margin-top: 50px;
    h6{
      color:#848484;
      font-family: "BlackFont";
      border-bottom: 1px solid #d6d6d6;
      padding-bottom: 15px;
    }
  }
}
</style>