<template>
  <div class="login-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="margin:auto">
          <div class="login-inner">
            <div class="logo">
              <!-- <img src="../assets/imgs/logo.png" alt="" /> -->
            </div>
            <h6>Login To Access Your Trobot Account</h6>

            <div class="hint">
              <img
                src="../assets/imgs/Select_Icon_Highlighted_Select.png"
                alt=""
              />
              <p>
                An Email With Password Reset Instructions Has Been Sent To Your
                Email Address , If It Exist In Your System
              </p>
            </div>
            <form action="">
                <div class="form-group">
                    <label for="emailAddress"> Email Address </label>
                    <input type="email" class="form-control" name="emailAddress" id="emailAddress">
                </div>
                <div class="form-group">
                    <label for="password"> Password </label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>

                <input type="submit" value="login">
            </form>

            <div class="another-choices">
                <nuxt-link to=""> Forget Password? </nuxt-link>
                <nuxt-link to=""> Don't Have An Account?Sign Up! </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.login-page {
  .login-inner {
    margin-top: 50px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;

    .logo {
      width: 200px;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.hint {
      width: 80%;
      margin: auto;
      background: #f6fbf4;
      padding: 15px;
      border: 1px solid #ccc;
      color: #576a7e;
      border-radius: 5px;
      img {
        width: 34px;
        float: left;
        margin-right: 16px;
      }
      p {
        display: inline-block;
        width: calc(100% - 50px);
      }
    }

    >h6{
            text-align: center;
    margin-bottom: 21px;
    }

    form{
        width: 80%;
    margin: 50px auto;
        .form-group{
            label{
                color: #C8CED6;
    text-transform: uppercase;
    font-size: 15px;
            }
        }
        input[type="submit"]{
            width: 100%;
    padding: 10px;
    background: #8DC540;
    border: none;
    color: #FFF;
    border-radius: 5px;
    margin-top: 15px;
        }
    }
    .another-choices{
        >a{
            display: block;
            text-align: center;
            text-decoration: none;
            color:#333;
            font-family: "RegularFont";
            &:first-of-type{
                color:#8DC540;
            }

        }
        margin-bottom: 50px;
    }
  }
}
</style>
