<template>
  <div class="newbot">
      <div class="container-fluid">
          <div class="newbot-inner">
              <form-wizard color="#8DC540" @on-complete="onComplete">
     <tab-content title="Personal details"
                  icon="ti-user">
       <div class="first-start">
           <div class="head">
               <h4>Get Started</h4>
           </div>

           <div class="first-details">
               <h6>Customize New bot</h6>
               <p>Select new bot settings to match your needs </p>

               <div class="bot-details">
                   <h6>Bot Details </h6>
                   <p>Inser bot name and description </p>
               </div>

             <div class="row">
                 <div class="col-md-7">
                       <div class="form-group">
                   <input type="text" class="form-control" placeholder="Bot Name" id="">
               </div>
            
                 </div>

                 <div class="col-md-7">
                        <div class="form-group">
                   <textarea style="resize:none" placeholder="Bot Description" class="form-control" id="" cols="30" rows="10"></textarea>
               </div>
                 </div>
             </div>

             
           </div>
       </div>
<div class="pickChannel">
    

<h6> Select a Channel </h6>
                <span> Pick a Bot Channel </span>
       <div class="row">
                 <div class="col-md-3">
                     <div class="select-channel">
                        <div>
                            <div class="icon"> <img src="../assets/imgs/whatsapp.png" alt=""> </div>
                            <h6> Whats app </h6>
                            <div class="selected"> <img src="../assets/imgs/selectbot-gray.png" alt=""> </div>
                        </div>
                    </div>
                 </div>
             </div>

                
                 <div class="row">
                     <div class="col-md-3">
                     <div class="select-channel" style="margin-top: 11px;">
                        <div style="border:1px solid #8dc540">
                            <div class="icon"> <img src="../assets/imgs/Webchat_Icon_Untitled-9@0.5x.png" alt=""> </div>
                            <h6> Whats app </h6>
                            <div class="selected"> <img src="../assets/imgs/selectbot.png" alt=""> </div>
                        </div>
                    </div>
                 </div>
             </div>
</div>

     </tab-content>
     <tab-content title="Additional Info"
                  icon="ti-settings">
       <div class="second-start">
            <div class="head">
               <h4>Configure Bot</h4>
           </div>

           <div class="configure">
               <h6>Configure your bot</h6>
               <p>configure bot settings to match your needs </p>
           </div>

           <div class="whats-num">
               <h6>Add your whatsapp number</h6>

           </div>
       </div>
     </tab-content>
     <tab-content title="Last step"
                  icon="ti-check">
       Yuhuuu! This seems pretty damn simple
     </tab-content>
 </form-wizard>
          </div>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.newbot{
    .wizard-header{
        display: none !important;
    }
    .wizard-nav.wizard-nav-pills{
        display:none !important;
    }
    .wizard-progress-with-circle{
        display: none !important;
    }

    .first-start{
        .head{
            h4{
                padding-bottom: 30px;
                font-family: "RegularFont";
                   
    font-size: 45px;
    border-bottom: 1px solid #DDD;
    color: #909090;
            }
        }
    }

    .first-details{
        margin-top:30px;
        h6{
            font-size: 33px;
    color: #5a5a5a;
    font-family: "RegularFont";
    margin-top: 23px;
        }
        p{
            font-family: "RegularFont";
    color: #c1c1c1;
    font-size: 23px;
        }

        .bot-details{
            margin-top:50px;
            h6{
                font-size: 22px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .select-channel{
        >div{
                 border: 1px solid #e8e8e8;
    padding: 12px;
    border-radius: 8px;
    background: #fff;
    h6{
        display: inline-block;
    width: 61%;
    }
    .icon{
            width:35px;
            display: inline-block;
            img{
                width:100%;
                height:100%;
            }
        }

        .selected{
            width: 35px;
            display: inline-block;
            img{
                width:100%;
                height:100%;
            }
        }
        }
        
    }

    .pickChannel{
       >h6{
            font-size: 20px;
    margin-bottom: 3px;
       }
       >span{
           color: #a5a5a5;
    margin-bottom: 13px;
    display: inline-block;
       }
    }




     .second-start{
        .head{
            h4{
                padding-bottom: 30px;
                font-family: "RegularFont";
                   
    font-size: 45px;
    border-bottom: 1px solid #DDD;
    color: #909090;
            }
        }

        .configure{
            h6{
                padding-top: 30px;
                font-family: "RegularFont";
                   
                font-size: 31px;
                color: #909090;
            }
            p{
                  color: #a5a5a5;
    margin-bottom: 13px;
    display: inline-block;
    font-size: 20px;
            }
        }
    }
}
</style>