<template>
  <div class="phonebook">
    <div class="container-fluid">
      <div class="phonebook-inner">
        <div class="head">
            <div class="row">
                <div class="col-md-10">
                     <h4>PhoeBook</h4>
                </div>

                <div class="col-md-2">
                     <div class="head-buttons">
                        <vs-button @click="addContact = true"  color="#51A7C5" :active="active == 1" >
                        Add Contact
                        </vs-button>

                        <vs-button  color="#48BA16" :active="active == 1" @click="active = 1">
                        Export
                        </vs-button>
                    </div>
                </div>
            </div>
        </div>


        <div class="searching">
            <input type="text" placeholder="Search" id="">
            <i class="fas fa-search"></i>
        </div>


        <div>
           <table>
               <thead>
                  <tr>
                      <th> Id </th>
                      <th> First Name </th>
                      <th> Last Name </th>
                      <th> Phone Number </th>
                      <th> Email Address </th>
                      <th> Creation Date </th>
                      <th> Operations </th>
                  </tr>
               </thead>
               <tbody>
                   <tr>
                       <td> 1 </td>
                   <td> zeyad  </td>
                   <td> moamen </td>
                   <td> 0125621552 </td>
                   <td> zeyadmoamen7@gmail.com </td>
                   <td> 15 may 2012 </td>
                   <td>
                       <img src="../assets/imgs/viewchat.png" alt="">
                       <img src="../assets/imgs/Delete@0.5x.png" alt="">
                       <img @click="updateContact = true" src="../assets/imgs/Edit@0.5x.png" alt="">
                   </td>
                   </tr>

                     <tr>
                       <td> 1 </td>
                   <td> zeyad  </td>
                   <td> moamen </td>
                   <td> 0125621552 </td>
                   <td> zeyadmoamen7@gmail.com </td>
                   <td> 15 may 2012 </td>
                   <td>
                       <img src="../assets/imgs/viewchat.png" alt="">
                       <img src="../assets/imgs/Delete@0.5x.png" alt="">
                       <img src="../assets/imgs/Edit@0.5x.png" alt="">
                   </td>
                   </tr>

                     <tr>
                       <td> 1 </td>
                   <td> zeyad  </td>
                   <td> moamen </td>
                   <td> 0125621552 </td>
                   <td> zeyadmoamen7@gmail.com </td>
                   <td> 15 may 2012 </td>
                   <td>
                       <img src="../assets/imgs/viewchat.png" alt="">
                       <img src="../assets/imgs/Delete@0.5x.png" alt="">
                       <img src="../assets/imgs/Edit@0.5x.png" alt="">
                   </td>
                   </tr>

                     <tr>
                       <td> 1 </td>
                   <td> zeyad  </td>
                   <td> moamen </td>
                   <td> 0125621552 </td>
                   <td> zeyadmoamen7@gmail.com </td>
                   <td> 15 may 2012 </td>
                   <td>
                       <img src="../assets/imgs/viewchat.png" alt="">
                       <img src="../assets/imgs/Delete@0.5x.png" alt="">
                       <img src="../assets/imgs/Edit@0.5x.png" alt="">
                   </td>
                   </tr>

                     <tr>
                       <td> 1 </td>
                   <td> zeyad  </td>
                   <td> moamen </td>
                   <td> 0125621552 </td>
                   <td> zeyadmoamen7@gmail.com </td>
                   <td> 15 may 2012 </td>
                   <td>
                       <img src="../assets/imgs/viewchat.png" alt="">
                       <img src="../assets/imgs/Delete@0.5x.png" alt="">
                       <img src="../assets/imgs/Edit@0.5x.png" alt="">
                   </td>
                   </tr>
               </tbody>
           </table>
        </div>

      </div>
    </div>



      <vs-dialog width="650px" not-center v-model="updateContact">
        <template #header>
          <h4 class="not-margin">
            Update <b>Contact</b>
          </h4>
        </template>


        <div class="con-content-add">
          <div>
             <div class="row">
                 <div class="col-md-7">
                      <div class="form-group">
                  <label> First Name </label>
                  <input type="text" class="form-control">
              </div>

              <div class="form-group">
                  <label> Last Name </label>
                  <input type="text" class="form-control">
              </div>

              <div class="form-group">
                  <label> Email Address </label>
                  <input type="text" class="form-control">
              </div>

              <div class="form-group">
                  <label> Primary Number </label>
                  <input type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label> Secondary Number </label>
                  <input type="text" class="form-control">
              </div>
                 </div>

                 <div class="col-md-5">
                     <div class="image"> 
                         <img src="../assets/imgs/adduser.png" alt="">
                     </div>
                 </div>
             </div>
          </div>
        </div>

        <template #footer>
      
          <div class="con-footer text-right" >
            <vs-button style="margin:0;display: inline-block;border-radius:10px" color="#8dc541" type="filed" @click="active=false" >
              Update
            </vs-button>
            
          </div>
        </template>
      </vs-dialog>




     <vs-dialog width="650px" not-center v-model="addContact">
        <template #header>
          <h4 class="not-margin">
            Add <b>Contact</b>
          </h4>
        </template>


        <div class="con-content-add">
          <div>
             <div class="row">
                 <div class="col-md-7">
                      <div class="form-group">
                  <label> First Name </label>
                  <input type="text" class="form-control">
              </div>

              <div class="form-group">
                  <label> Last Name </label>
                  <input type="text" class="form-control">
              </div>

              <div class="form-group">
                  <label> Email Address </label>
                  <input type="text" class="form-control">
              </div>

              <div class="form-group">
                  <label> Primary Number </label>
                  <input type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label> Secondary Number </label>
                  <input type="text" class="form-control">
              </div>
                 </div>

                 <div class="col-md-5">
                     <div class="image"> 
                         <img src="../assets/imgs/adduser.png" alt="">
                     </div>
                 </div>
             </div>
          </div>
        </div>

        <template #footer>
      
          <div class="con-footer text-right" >
            <vs-button style="margin:0;display: inline-block;border-radius:10px" color="#8dc541" type="filed" @click="active=false" >
              Add
            </vs-button>
            
          </div>
        </template>
      </vs-dialog>


  </div>
</template>

<script>
export default {
    data(){
        return {
            updateContact:false,
            addContact: false,
            active: 0,
            fields: ['id','first_name', 'last_name', 'phone_number', 'email_address', 'creation_date', 'operations'],
        items: [
          { isActive: true, id: 1, first_name: 'Dickerson', last_name: 'Macdonald', phone_number:'0125621552',creation_date: '20/4/1965', email_address:'zeyadmoamen7@gmail.com' },
          { isActive: false, id: 2, first_name: 'Larsen', last_name: 'Shaw',phone_number:'0125621552',creation_date: '20/4/1965',email_address:'zeyadmoamen7@gmail.com' },
          { isActive: false, id: 3, first_name: 'Geneva', last_name: 'Wilson',phone_number:'0125621552',creation_date: '20/4/1965' ,email_address:'zeyadmoamen7@gmail.com'},
          { isActive: true, id: 4, first_name: 'Jami', last_name: 'Carney' ,phone_number:'0125621552',creation_date: '20/4/1965' ,email_address:'zeyadmoamen7@gmail.com'}
        ]
        }
    }
};
</script>

<style lang="scss">
.phonebook {
  .phonebook-inner {
    .head {
             padding: 23px 0;
    border-bottom: 1px solid #d2d2d2;
      h4 {
             font-size: 40px;
    color: #525456;
      }
      div.head-buttons{
        padding-top: 15px;
          button{
              display: inline-block;
            border-radius: 5px;
            margin: 0;
          }
      }
    }

    .searching{
        position: relative;
        margin-bottom: 43px;
        input{
                 background: #F8F8F8;
    border: 1px solid #EBEDEE;
    padding: 8px 36px;
    margin-top: 38px;
    font-weight: 400;
    color: #c5c7cb;
        }
        i{
            position: absolute;
    bottom: 9px;
    left: 8px;
    color: #BEC1C5;
    font-size: 22px;
        }
    }

    table{
        width: 100%;
        thead{
            border-bottom:1px solid #e2e2e2;
            tr{
                th{
                    text-align: center;
                    padding-bottom: 10px;
                }
            }
        }
        tbody{
            tr{
                 &:nth-of-type(even){
                        background: #EFEFEF;
                    }
                td{
                       text-align: center;
    font-family: "RegularFont";
    color: #7b7b7b;
    text-transform: capitalize;
    padding:10px 0;

    >img{
        width: 21px;
        cursor: pointer;
    }
                   
                }
            }
        }
    }
  }
}

.con-content-add{
    .form-group{
        label{
            display: inline-block;
        }
        .form-control{
            display: inline-block;
        }
    }
    .image{
            position: relative;
    width: 100%;
    height: 100%;
    img{
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 148px;
    }
    }
}
</style>
