<template>
  <div class="register-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="margin:auto">
          <div class="register-inner">
            <div class="logo">
              <!-- <img src="../assets/imgs/logo.png" alt="" /> -->
            </div>
            <h6>Create an account with Trobot</h6>

            <!-- <div class="hint">
              <img
                src="../assets/imgs/Select_Icon_Highlighted_Select.png"
                alt=""
              />
              <p>
                An Email With Password Reset Instructions Has Been Sent To Your
                Email Address , If It Exist In Your System
              </p>
            </div> -->
            <form action="">
                <div class="form-group">
                    <label for="name"> Name </label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="emailAddress"> Email Address </label>
                    <input type="email" class="form-control" name="emailAddress" id="emailAddress">
                </div>
                <div class="form-group">
                    <label for="password"> Password </label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>

                <h6 class="termsandconditions"> I Accept <nuxt-link to=""><span>Terms and Conditions</span></nuxt-link> </h6>

                <input type="submit" value="Create Account">
            </form>

            <div class="another-choices">
                <nuxt-link to="">Have An Account?Login!  </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.register-page {
  .register-inner {
    margin-top: 50px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;

    .logo {
      width: 200px;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    

    >h6{
            text-align: center;
    margin-bottom: 21px;
    text-transform: capitalize;

    }

    form{
        width: 80%;
    margin: 50px auto 10px;
        .form-group{
            label{
                color: #C8CED6;
    text-transform: uppercase;
    font-size: 15px;
            }
        }
        input[type="submit"]{
            width: 100%;
    padding: 10px;
    background: #8DC540;
    border: none;
    color: #FFF;
    border-radius: 5px;
    margin-top: 15px;
        }
    }
    .termsandconditions{
        margin: 10px 0;
        a{
            text-decoration: none;
            
            span{
            color: #8DC540;
        }
        }
    }
    .another-choices{
        >a{
            display: block;
            text-align: center;
            text-decoration: none;
            color:#333;
            font-family: "RegularFont";
           

        }
        margin-bottom: 10px;
    }
  }
}
</style>
