<template>
  <div class="view_history">
    <div class="container-fluid">
      <div class="view_history_inner">
        <div class="head">
          <h4>View History</h4>
          <vs-button color="#48BA16" :active="active == 1" @click="active = 1">Export</vs-button>
        </div>

        <div class="searching">
          <input type="text" placeholder="Search" id />
          <i class="fas fa-search"></i>
        </div>

       <div class="row">
           <div class="col-md-5">

                <div class="view-history-body">
         
              <div class="view-history-card">
                <div class="row">
                  <div class="col-md-3">
                    <div class="user-img">
                      <img src="../assets/imgs/User@1.5x.png" alt />
                      <span>15 May 2020</span>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="user-info">
                      <h6>Adrian Shelpy</h6>
                      <h6>+998 521 22</h6>
                      <h6>zeyadmoamen7@gmail.com</h6>
                    </div>
                  </div>
                </div>
              </div>
       

              <div class="chat-users-box">
                <div class="user">
                  <h6>15 May 2020</h6>
                  <span>Whats app</span>
                  <img src="../assets/imgs/viewchat.png" alt />
                </div>

                <div class="user">
                  <h6>15 May 2020</h6>
                  <span>Whats app</span>
                  <img src="../assets/imgs/viewchat.png" alt />
                </div>

                <div class="user">
                  <h6>15 May 2020</h6>
                  <span>Whats app</span>
                  <img src="../assets/imgs/viewchat.png" alt />
                </div>

                <div class="user">
                  <h6>15 May 2020</h6>
                  <span>Whats app</span>
                  <img src="../assets/imgs/viewchat.png" alt />
                </div>
              </div>
          </div>
      


           </div>



                   <div class="col-md-7">
              <div class="chat-box">
                    <div class="sender">
                     <div class="row">
                         <div class="col-md-11 col-10">
                              <div class="message">Hello</div>
                         </div>
                         <div class="col-md-1 col-2">
                            <img src="../assets/imgs/GrayUser_gray.png" alt />
                         </div>
                     </div>
                    </div>

                    <div class="reciever">
                        <div class="row">
                         <div class="col-md-1 col-2">
                            <img src="../assets/imgs/Bot_Icon_Highlighted_Untitled-4@0.5x.png" alt />
                         </div>
                         <div class="col-md-11 col-10">
                                                   <div class="message">Hello</div>

                         </div>
                     </div>
                    </div>
              </div>
            </div>




       </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.view_history_inner {
  .head {
    overflow: hidden;
    padding-top: 28px;
    padding-bottom: 18px;
    border-bottom: 1px solid #dcdcdc;
    h4 {
      width: 90%;
      float: left;
      margin-bottom: 0;
      font-family: "RegularFont";
      font-size: 40px;
      color: #585757;
    }
    button {
      float: left;
      border-radius: 5px;
    }
  }

  .searching {
    position: relative;
    margin-bottom: 43px;
    input {
      background: #f8f8f8;
      border: 1px solid #ebedee;
      padding: 8px 36px;
      margin-top: 38px;
      font-weight: 400;
      color: #c5c7cb;
    }
    i {
      position: absolute;
      bottom: 9px;
      left: 8px;
      color: #bec1c5;
      font-size: 22px;
    }
  }

  .view-history-body {
    .view-history-card {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 25px 0px;
      padding: 10px;
      padding-top: 15px;
      margin-bottom: 15px;
      border: 1px solid #dadada;
      border-radius: 5px;
      .user-img {
        img {
          width: 68px;
          display: block;
          margin: auto;
        }
        span {
          display: inline-block;
          width: 100%;
          font-size: 12px;
          text-align: center;
          font-family: "RegularFont";
          color: #656565;
          margin-top: 5px;
        }
      }

      .user-info {
        h6 {
          &:first-of-type {
            font-size: 20px;
          }
          &:not(:first-of-type) {
            color: #737070;
          }
          &:nth-of-type(2) {
            font-size: 19px;
          }
          &:last-of-type {
            font-size: 15px;
          }
        }
      }
    }

    .chat-users-box {
      border: 1px solid #dadada;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 25px 0px;
      padding: 10px;
      margin-bottom: 15px;
      .user {
        padding: 15px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:nth-of-type(even) {
          background: #f7f7f7;
        }
        &::hover {
          background: #eee;
        }
        h6 {
          display: inline-block;
          width: 61%;
        }
        span {
          display: inline-block;
          padding: 1px 5px;
          background: #48ba16;
          color: #fff;
          font-family: "RegularFont";
          border-radius: 5px;
          margin-right: 6px;
        }
        span,
        img {
          display: inline-block;
        }
        img {
          width: 20px;
        }
      }
    }

 
  }
     .chat-box{
            height: 100%;
    border-radius: 15px 0 0 0;
    
            padding: 15px 50px;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 25px 0px;
    border-radius: 15px 0 0 15px;
    border: 1px solid #d8d8d8;

    .sender{
        margin-bottom: 15px;
        .message{
                  padding: 21px 15px;
    background: #F8F9FA;
    border: 1px solid #dadada;
    border-radius: 15px 15px 0 15px;
        }
        div{
            img{
                    width: 27px;
    padding-top: 29px;
    margin-bottom: 23px;
            }
        }
    }


    .reciever{
        margin-bottom: 15px;
        .message{
                 padding: 21px 15px;
    background: #DAF1D0;
    border: 1px solid #CCC;
    border-radius: 15px 15px 15px 0;
        }
        div{
            img{
                width: 33px;
    padding-top: 29px;
            }
        }
    }
    }
}
</style>









 